table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 8px;
}
h3 {
    color: red;
    text-align: center;
}
p {
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
tr:nth-child(odd) {
    background-color: lightgray;
}
tr:nth-child(even) {
    background-color: white;
}
.a1 {
    font-weight: bold;
    color: red;
}