body {
    width: 1080px;
    height: 2600px;
}

table {
    margin: 0 auto;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.centered {
    text-align: center;
}

.red {
    color: red;
}

th {
    font-size: 8em;
}

td {
    font-size: 8em;
}

p {
    font-size: 6em;
}